<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Document</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!--header starts-->
<header>
	<div class="h-wrapper">
	<div class="logo"><img src="img/logo.png" alt="wedscopeit"></div>
	<nav>
		<ul>
			<li>Overviews</li>
			<li>Lendinge</li>
			<li>Pages</li>
			<li>Apps</li>
			<li>Docs</li>
		</ul>
	</nav>
	</div>
</header>
<!--header ends-->
<!--banner starts-->
<section>
	<div class="b-wrapper">
				<h1 class="heading">It's time to ampify your<br><span>online business</span></h1>
				<p>Loren ipsun dolor sit amet,consectetur adipisng elit sed do eiusmod tempor inididunt ut labore et dolore magna aliqua. ut enim ad minim veiam </p>
				<img src="img/bimg.png"alt="Banner Image">
			</div>

</section>

<section class="about">
	<div class="a-wrapper">
		<div class="sec1">
			<h2>3k+</h2>
			<p class="P">lorem very commendable. He is our friends in danger. We shouid show our repect to hism and his profession</p>
		</div>
		<div class="sec2 heading">
			<h1>Successfully completed projtcts & ideas</h1>
		</div>

	</div>
</section>
		<!--services starts-->
		<section class="services">
			<div class="s-wrapper">
				<!--services 1 starts-->
				<div class="ser1">
					<img src="img/imgl.png"alt="">
					<h2>Unleash your creativity</h2>
					<p></p>
				</div>
				<!--services 1 ends-->
			</div>	
		</section>
		<!--services ends-->

	</body>
	</html>